{% extends "base.html" %}

{% block title %}
  <title>การเข้าทำ Quiz - {{ quiz.title }}</title>
{% endblock %}

{% block content %}
<div class="container py-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>การเข้าทำ Quiz: {{ quiz.title }}</h3>
    <div>
        <a class="btn btn-sm btn-dark" href="{% url 'create_quiz:quiz_detail' quiz.pk %}">ย้อนกลับ</a>
    </div>
  </div>

  <div class="list-group">
    {% for att in attempts %}
      <div class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <strong>{{ att.taker.username }}</strong>
          <div class="small text-muted">
            เริ่ม: {{ att.started_at|date:"Y-m-d H:i" }}{% if att.finished_at %} - เสร็จสิ้น: {{ att.finished_at|date:"Y-m-d H:i" }}{% endif %}
          </div>
        </div>
        <div class="text-end">
            <span class="me-3">
              {% if att.graded %}
                คะแนน: {{ att.score|floatformat:0 }} %
              {% else %}
                รอการตรวจให้คะแนน
              {% endif %}
            </span>
          <a href="{% url 'create_quiz:attempt_detail' att.id %}" class="btn btn-sm btn-primary">ตรวจคำตอบ</a>
        </div>
      </div>
    {% empty %}
      <div class="list-group-item">ยังไม่มีการเข้ามาทำ Quiz</div>
    {% endfor %}
  </div>
</div>
{% endblock %}
