{% extends "base.html" %}

{% block title %}
    <title>about</title>
{% endblock %}

{% block content %}
    <h1 style="color:blue;">เกี่ยวกับเรา</h1>

    <h2>สมาชิกทีม Naisoft</h2>
    <ul>
        <li>1. นายอุกฤษฏ์ ดอกกุหลาบ 6410535014</li>
        <li>2. นายภูวรัตน์ นาคจันทึก 6710615201</li>
        <li>3. นายเบญจพล ปินะกะสา 6710625028</li>
        <li>4. นางสาวพศิกา ศรัทธาพร 6710625036</li>
    </ul>

    <h2>ลิงก์ที่เกี่ยวข้อง</h2>
    <p>
        🔗 <a href="https://github.com/6710615201/TakeQ" target="_blank">GitHub Repository (TakeQ)</a><br>
        🔗 <a href="https://tuipied-my.sharepoint.com/:w:/g/personal/pasika_sat_dome_tu_ac_th/ETURJ84f42lJqGoPMo7MzUwBLTeFTjMpMgS_f8qBIGf-jA?e=v9aAAK" target="_blank">เอกสารบน SharePoint</a>
    </p>
{% endblock %}
