<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block title %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">TakeQ</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'home' %}">หน้าแรก</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">เกี่ยวกับเรา</a>
              </li>
            </ul>

            <ul class="navbar-nav">
              {% if user.is_authenticated %}
                <li class="nav-item"><span class="navbar-text me-2">Hi, {{ user.username }}</span></li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'room:invitations' %}">
                    Invitations
                    {% if room_invitation_count and room_invitation_count > 0 %}
                      <span class="badge bg-danger ms-1">{{ room_invitation_count }}</span>
                    {% endif %}
                  </a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
              {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
              {% endif %}
            </ul>

          </div>
        </div>
      </nav>

    <div class="container my-2">
        {% block content %}{% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
